body {
    background-image:url("https://cdna.artstation.com/p/assets/images/images/029/548/598/large/mesba-bhuiya-fe7elibe-final.jpg?1597898682");
    }

    #title {
    position:fixed;
    top:0px;
    left:0px;
    padding:10px;
    margin-top:4px;
    margin-bottom: 75px;
    width:100%;
    background-color:#4551d1;
    text-align:center;
    z-index:10;
    font-family: 'AvaraBold';
    font-weight: normal;
    font-style: italic;
    font-size:36px;
    }
    
    img {
    margin-top:10px;
    width: 40px;
    height: 50px;
    }
    
    #container {
    padding-top: 100px;
    width: 700px;
    height: 600px;
    margin: auto;
    }
    
    .row{
    position:relative;
    width: 700px;
    height: 12.5%;
    margin-left:10%;
    margin-right:10%;
    }
    
    .white{
    border: 1px solid #211d14;
    width: 10%;
    height: 73px;
    background-color: #ebe8e4;
    float:left;
    }
    
    .black{
    border: 1px solid #4C3A2B;
    width: 10%;
    height: 73px;
    background-color: #211d14;
    float:left;
    }
    
    #clear{
    clear:both;
    }
    
     
    
    #footer {
    text-align:center;
    background-color: #bf5d02;
    border:solid 1px;
    padding: 10px;
    margin-top:10px;
    margin-bottom:10px;
    }
